[Unit]
Description=Biolab Broker Mqtt
After=multi-user.target
[Service]
Type=idle
User=pi
ExecStart=sudo /usr/bin/python3 /home/vsc/mqtt_broker_RUN.pl
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target